{% extends 'base.html' %}
{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->


<section class="section-content padding-y bg">

<div class="container">
	<div class="col-md-9 mx-auto text-center">
		{% include 'includes/alert.html' %}
	</div>
	<div class="row">
		{% include 'includes/sidebar.html' %}	
	<main class="col-md-9 mb-3 mt-3">
		{% for order in orders %}

		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Order ID: {{order.order.order_number}}</strong>
			<span>Order Date: {{order.payment.orderPlacedOn}}</span>
			<span class="b mx-4">Total:  ${{order.order.orderTotal}} </span>
		</header>
		<div class="card-body">
			<div class="row">
				<div class="col-md-8">
					<h6 class="text-muted">Delivery to</h6>
					<h6>{{order.order.fullName}}</h6>
					Phone {{order.order.phone}} Email: {{order.order.email}}<br>
			    	Location: {{order.order.address}}
				</div>
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
		
		<div class="table-responsive">
		<table class="table table-hover">
			<tr>
				<td width="200">
					<a href=""><img src="{{order.product.image.url}}"  class="img-md border"></a>
				</td>
				<td>
					<p class="title mb-0"><strong>{{ order.product.product_name}}</strong></p>
					<var class="price text-muted">USD {{order.product.price}}</var>
				</td>
				<td> Quantity <br x> {{ order.quantity}} </td>
				<td width="400"> <a href="#" class="btn btn-outline-primary">Track order</a> <a href="#" class="btn btn-light"> Details </a>
					<a href="{% url 'reviewproducts' order.product_id %}" class="btn btn-light"> Write review </a> </td>
				</td>
			</tr>
		</table>
		</div> <!-- table-responsive .end// -->
		</article> <!-- order-group.// -->
		{% endfor %}
	</main>
</div> <!-- row.// -->
</div>


</section>

{% endblock content %}
<!-- ========================= SECTION CONTENT END// ========================= -->
