{% extends 'base.html'%}
{% block content %}
{% load static %}


<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">

<div class="intro-banner-wrap">
	<img src="{% static 'images/banners/design.jpg'%}" class="img-fluid rounded" height="800">
</div>

</section>

<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">

<header class="section-heading m-3">
	<a href="{% url 'store' %}" class="btn float-right">See all</a>
	<h3 class="section-title">Popular products</h3>
</header><!-- sect-heading -->


<div class="row m-2">
	{% for product in products %}
	<div class="col-md-2">
		<div class="card card-product-grid">
			<a href="{{product.get_url}}" class="img-wrap"> <img src="{{product.image.url}}"> </a>
			<figcaption class="info-wrap">
				<h6><a href="{{product.get_url}}" class="title">{{product.product_name}}</a></h6>
							<div class="rating-star mt-1 mb-2">
								<span>
									<i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
									<a href="{{product.get_url}}" class="mx-1"><span>{{product.countReview}}</span></a>
									</span>
							</div>
				<span >{{product.product_description}}</span><br>
				<span class="price mt-1">&#x20B9; {{product.price}}</span> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
{% endfor %}
</div> <!-- row.// -->

</section>
<!-- ========================= SECTION  END// ========================= -->




</body>
</html>


{% endblock content %}