{% extends 'base.html' %}

{% block content %}

<div class="container col-md-6">
    <div>
        <h5>Create a review</h5>
        <a href="{{single_product.get_url}}"><img src="{{single_product.image.url}}"  class="img-sm border"></a><span>{{single_product.product_name}}</span>
    </div>

    <hr style="width:100%;text-align:left;margin-left:0">
    <form method="POST" action="{% url 'reviewproducts' single_product.id %}">
      {% csrf_token %}
        <div>
          <h6>Overall rating</h6>
						<div class="rate">
							<input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10" title="5"></label>
							<input type="radio" name="rating" id="rating9" value="4.5" required /><label for="rating9" title="4.5" class="half"></label>
							<input type="radio" name="rating" id="rating8" value="4" required /><label for="rating8" title="4"></label>
							<input type="radio" name="rating" id="rating7" value="3.5" required /><label for="rating7" title="3.5" class="half"></label>
							<input type="radio" name="rating" id="rating6" value="3" required /><label for="rating6" title="3"></label>
							<input type="radio" name="rating" id="rating5" value="2.5" required /><label for="rating5" title="2.5" class="half"></label>
							<input type="radio" name="rating" id="rating4" value="2" required /><label for="rating4" title="2"></label>
							<input type="radio" name="rating" id="rating3" value="1.5" required /><label for="rating3" title="1.5" class="half"></label>
							<input type="radio" name="rating" id="rating2" value="1" required /><label for="rating2" title="1"></label>
							<input type="radio" name="rating" id="rating1" value="0.5" required /><label for="rating1" title="0.5" class="half"></label>
						</div>
          <hr style="width:100%;text-align:left;margin-left:0">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1"><h6>Add a headline</h6></label>
          <input type="text" class="form-control" id="exampleFormControlInput1"  required name="subject" placeholder="what's most important to know?">
          <!-- <input type="hidden" class="form-control" id="exampleFormControlInput1"  name="product" value="{{single_product.id}}"> -->
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1"><h6>Add a written review</h6></label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  required name ="review" placeholder="what did you like or dislike?"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary"> Submit  </button>
        </div>
      </form>
</div>

{% endblock content %}